
.dv{
    margin: auto;  
    padding: 20px;
    text-align: center;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td,th{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 100%;
}
tr:nth-child(even){
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
th{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
p{
    border: 2px solid black;
    margin: auto;  
    padding: 20px;
    text-align: center;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #dddddd;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-transform: initial;
  }
h1{
    display: flex;
    justify-content: center;
    align-items: center;
} 